<div  class="w-full mt-10 text-center bg-white">
    <h1 class="text-3xl m-5">App de recherche de calendrier des collectes de poubelle chez TIBI</h1>
    <form >
        <br>
        <label class="text-2xl m-2" for="adress">Entrez votre adresse</label>
        <br>
        <input (keyup)="searchAddress()" [(ngModel)]="address" class="text-2xl mt-2 border-black border" name="adress" type="text" placeholder="Exemple : Ch. de Mons, ..." >
   </form>

    <div class="w-full h-full">
        

    </div>
</div>